.section-headline__inner1_white {
	color: #fff;

	&::after, &::before {
		background-color: #fff;
	}
}

.blog {
	width: 100%;
	background-color: #fff;
	padding: 70px 110px 0px 40px;
	@extend %clearfix;
}

.blog__nav {
	width: 25%;
	float: left;
	display: inline-block;
}

.blog__nav-list {
	text-align: right;
}

.blog__nav-item {
	margin-bottom: 25px;
}

.blog__nav-link {
	display: block;
	padding-right: 20px;
}

.blog__nav-item.active {
	
	.blog__nav-link {
		color: $accentColor;
		border-right: 3px solid;
	}
}

.blog__articles {
	float: left;
	width: 57%;
	margin-left: 100px;
}

.article {
	padding: 60px 0;
	border-top: 5px solid #f1f1f2;

	&:first-child {
		padding-top: 0;
		border-top: 0;
	}
}

.article__time {
	opacity: 0.7;
	color: $accentColor;
	margin-bottom: 30px;
}