@import 'common/fonts';
@import 'common/mixins';

// Footer

$footer_height_desktop: 147px;
$footer_height_tablet: 240px;
$footer_height_phone: 270px;

$textColor: #455a64;
$accentColor: #00bfa5;
$hoverColor: #009688;
$font-family: 'robotoregular', Arial, Helvetica, sans-serif;

// Skill Circles
$skill_circle_diameter: 110px;
$skill_circle_stroke: 20px;

$color_skills_inner: #16c1a9;
$color_skills_outer_bg: #dfdcd5;
$color_skills_outer: #eeebdf;

%clearfix {
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font: 16PX $font-family;
  color: $textColor;

	@include tablet {
		font-size: 14PX;
	}

	// @include phone {
	// 	font-size: 14PX;
	// }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  // background: url(../img/body-header-bg.jpg) top center no-repeat;
  // background-size: cover;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-family: $font-family;
	color: $textColor;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;

	.map,
	.blog,
	.testimonials {
		padding-bottom: $footer_height_desktop;

		@include tablet {
			padding-bottom: $footer_height_tablet;
		}

		@include phone {
			padding-bottom: $footer_height_phone;
		}
	}
}

.text {
	font-size: 16px;
	font-family: $font-family;
	color: $textColor;
}

.text_white {
	color: #fff;
}

.text_bold {
	font-family: 'robotobold';
}

.headline1, .headline2 {
	font-family: 'bernier_regularregular', 'robotoregular', Arial, sans-serif;
	color: $textColor;
	text-transform: uppercase;
	font-weight: 100;
}

.headline1 {
	font-size: 63px;
}

.headline2 {
	font-size: 35px;
	margin: 0 0 15px 0;
}

// Заголовок со штрихами
.section-headline2 {
	text-align: center;
	margin: 0 auto 30px;
}

.section-headline1 {
	text-align: center;
	margin: 0 auto;
}

.section-headline__inner2, .section-headline__inner1 {
	position: relative;
	display: inline-block;
	font-family: 'bernier_regularregular', 'robotoregular', Arial, sans-serif;
	color: $textColor;
	text-transform: uppercase;
	max-width: 300px;
	line-height: 1;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: -40px;
		background-color: #373e42;
		opacity: 0.2;
		width: 22px;
  		height: 5px;
  		margin-top: -2.5px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: -40px;
		background-color: #373e42;
		opacity: 0.2;
		width: 22px;
  		height: 5px;
  		margin-top: -2.5px;
	}
}

.section-headline__inner1 {
	font-size: 63px;
	color: #373e42;

	@include tablet {
		font-size: 49px;
	}

	@include phone {
		font-size: 35px;
	}
}

.section-headline__inner2 {
	font-size: 35px;

	@include tablet {
		font-size: 30px;
	}

	@include phone {
		font-size: 21px;
	}
}

// Конец заголовка со штрихами

.copyright {
	font-family: 'robotolight', Arial, sans-serif;
	color: #fff;
}

// Social links

.social {
	text-align: center;
}

.social__item {
	display: inline-block;
	font-size: 28px;
	margin-left: 20px;
	opacity: 0.5;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}

	&:first-child {
		margin-left: 0;
	}
}

.social__link {
	color: #fff;
	display: block;
}

@import 'pages/index';

@import 'common/sprite';
@import 'common/header';
@import 'common/footer';


@import 'pages/about';
@import 'pages/blog';
@import 'pages/works';

@import 'common/slider';