.header_portfolio-bg {
	background: url(../img/portfolio_bg.png) no-repeat center;
	background-size: contain;
}

.header {
	height: 100vh;
	position: relative;
	min-height: 650px;
	background-color: rgba(#016672, .3);
}

.header__social {
	position: absolute;
	top: 20px;
	left: 30px;
}

.header__burger {
	position: absolute;
	top: 30px;
	right: 30px;
}

.burger-btn {
	width: 40px;
	height: 35px;
	position: relative;
	cursor: pointer;
	outline: none;
	border: 0;
	padding: 0;
	background: 0 center;
	opacity: 0.5;
	transition: opacity 0.2s linear;

	&:hover {
		opacity: 1;
	}
}

.burger-btn__line, .burger-btn__line::before, .burger-btn__line::after {
	width: 100%;
	height: 5px;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #fff;
	border-radius: 2.5px;
	content: "";
}

.burger-btn__line {
	&::before {
		top: -15px;
	}
	&::after {
		top: 15px;
	}
}

.author-name_white, .author-descr_white {
	color: #fff;
}

.author-descr_white {
	font-family: 'robotolight';
}

.avatar-wrapper {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.header__triangle {
	width: 50%;
	position: absolute;
	bottom: 0;
}

.header__triangle svg {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}

.header__triangle_left svg {
	fill: #EFEEE9;
}

.header__triangle_right svg {
	fill: #EDEADE;
}

.header__triangle_left {
	left: 0;
}

.header__triangle_right {
	right: 0;
}

a.header__arrow-down-link {
	display: block;
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translate(-50%, 0px);
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

// Фигурка стрелки на CSS
.arrow-down {
	width: 19px;
	height: 19px;
	border: solid #fff;
	border-width: 0 6px 6px 0;
	transform: rotate(45deg);
}

// Секция "Обо мне" и "Навыки"
.table {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
	width: 100%;
}

.cell {
	display: table-cell;
	width: 50%;
	@extend %clearfix;
}

.cell_left {
	background-color: #efeee9;
	
}

.cell_right {
	background-color: #eeebdf;
}

.cell_about {
	padding-bottom: 30px;
}

// Секция "Обо мне" (слева)
.aboutme .section-headline1 {
	margin: 0 auto  60px;
	background: url(../img/about_header.png) center center no-repeat;
	background-size: contain;
}

.skills .section-headline2 {
	margin: 0 auto  30px;
	max-width: 240px;
}

.aboutme__content {
	max-width: 443px;
	margin: 0 auto;
}

.aboutme__photo {
	width: 100%;
	margin-top: 0;
	overflow: hidden;
	text-align: center;
}

.aboutme__img {
	width: 100%;
}

.skills {
	padding-left: 40px;
}

.skills__diagrams {
	margin-bottom: 30px;
}

.skills__title {
	font: 28px 'robotomedium', Arial, sans-serif;
	margin-bottom: 10px;
}

.skills__item {
	display: inline-block;
	margin-left: 35px;
	width: 110px;
  	height: 110px;
  	background: url(../img/Ellipse_skill.png) top left;
  	background-size: contain;

	&:first-child {
		margin-left: 0;
	}
}

// Секция контакты (с картой)

.map {
	width: 100%;
	height: 100vh;
	background: url(../img/map.jpg);
	background-size: cover;
	position: relative;
}

.contacts {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 380px;
  	background-color: rgba(252, 252, 252, 0.85);
  	border-radius: 5px;
  	padding: 0 40px 40px;
}

.contacts__item {
	font-family: "robotomedium", Arial, sans-serif;
	margin-top: 15px;

	&:first-child {
		margin-top: 0;
	}
}

.contacts__icon {
	font-size: 22px;
	color: $accentColor;
	margin-right: 10px;
}

.contacts__item a {
	color: $textColor;

	&:hover {
		text-decoration: underline;
	}
}
