// media
@mixin wide() {
  @media screen and (min-width: 1601PX) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (max-width: 1600PX) {
    @content;
  }
}
@mixin laptop() {
  @media screen and (max-width: 992PX) {
    @content;
  }
}
@mixin tablet() {
  @media screen and (max-width: 768PX) {
    @content;
  }
}
@mixin phone() {
  @media screen and (max-width: 480PX) {
    @content;
  }
}

@mixin fullscreen {
  height: 100vh;
  min-height: 650px;

  /* fix iOS bug not displaying 100vh correctly */
  /* ipad */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      height: 768px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      height: 1024px;
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
      height: 320px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
      height: 568px;
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      height: 320px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      height: 480px;
  }
}

@mixin centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}