.slider {
	height: 100vh;
	min-height: 650px;
}

.slider__descr-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.slider__descr {
	width: 420px;
	margin: auto;
}

.section-headline__inner2_slider {
	max-width: 300px;
}

.slider__descr-tags {
	width: 100%;
	min-height: 51px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(0, 150, 136, 0.3);
	margin-bottom: 40px;
}

.slider__descr-tags-inner {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: $accentColor;
	font-family: 'robotomedium';
	display: inline-block;
	vertical-align: middle;
}

.slider__button {
	width: 199px;
  	height: 46px;
  	border-radius: 5px;
  	background-color: $accentColor;
  	color: #fff;
  	font: 16px 'robotomedium', Arial, sans-serif;
  	border: 0;
  	outline: none;
  	margin: 0 auto;
  	display: block;
  	cursor: pointer;

	&:hover {
		background-color: $hoverColor;
	}
}

.slider__button-icon {
	margin-right: 10px;
}


// Правая часть слайдера

.slider__images {
	height: 100%;
}

.slider__big-image {
	height: 70%;
	text-align: center;
}

.slider__display-image {
	max-width: 100%;
}

.slider__list {
	height: 30%;
	width: 100%;
	position: relative;
	@extend %clearfix;
}

.slider__control {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		background-color: rgba(#b6b4ae, 0.7);
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	&::after {
		content: "";
		width: 26px;
		height: 26px;
		border: solid #fff;
		border-width: 0 8px 8px 0;
		transform: rotate(45deg);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -13px;
		margin-left: -13px;
		z-index: 2;
	}
}

.slider__control_next {

	&::after {
		border-width: 8px 0 0 8px;
		transform: rotate(45deg);
	}
}