extends ../_template

block variables
	- var title = 'Обо мне'

block content
	header.header
		.header_portfolio-bg
			.header__social
				+social
			.header__burger
				button.burger-btn
					span.burger-btn__line

			.avatar-wrapper
				.author-photo
					img(src="assets/img/avatar200.jpg").author-photo__img
				.author-name.author-name_white Темир Нурбаев
				.author-descr.author-descr_white Личный сайт веб-разработчика
			
			.header__triangle-wrapper
				.header__triangle.header__triangle_left
					svg(xlmns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1 1" preserveAspectRatio="none")
						polygon(points="0,0 1,1 0,1")
				.header__triangle.header__triangle_right
					svg(xlmns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1 1" preserveAspectRatio="none")
						polygon(points="1,0 1,1 0,1")

		.header__arrow-down
			a.header__arrow-down-link(href="#")
				.arrow-down

	.table.table_about
		.row
			.cell.cell_left.cell_about
				section.aboutme
					.section-headline__wrapper-about
						.section-headline1
							.section-headline__inner1 Обо мне
					.aboutme__content
						.aboutme__photo
							img.aboutme__img(src="assets/img/avatar400.jpg")
						+section-headline2("Кто я")
						p.text Я веб разработчик из Росии. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.cell.cell_right.cell_about
				section.skills
					+section-headline2("Чем я могу быть вам полезен")
					p.text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					.skills__block
						.skills__title Frontend
						.skills__diagrams
							ul.skills__list
								li.skills__item
								li.skills__item
								li.skills__item
						.skills__title Backend
						.skills__diagrams
							ul.skills__list
								li.skills__item
								li.skills__item
								li.skills__item
								li.skills__item
						.skills__title Workflow
						.skills__diagrams
							ul.skills__list
								li.skills__item
								li.skills__item
								li.skills__item
					

		//- 	.skills
		//- 		h2.headline2 Чем я могу быть<br>вам полезен
		//- 		p.text
		//- 		.skills__circles
		//- 			.skills__frontend
		//- 			.skills__backend
		//- 			.skills__workflow

		//- 	.contacts
		//- 		.contacts__info
		//- 			h1.headline
		//- 			ul.contacts__list
		//- 				li.contacts__item
		//- 				li.contacts__item
		//- 				li.contacts__item
		//- 				li.contacts__item
		//- 	+footer

	section.map
		.contacts
			+section-headline2('Контакты')
			ul.contacts__list
				li.contacts__item
					span.contacts__icon <i class="fa fa-skype" aria-hidden="true"></i>
					a(href="skype:hotice5551?add") temir_n
				li.contacts__item
					span.contacts__icon <i class="fa fa-envelope" aria-hidden="true"></i>
					a(href="mailto:temir1.618@gmail.com") temir1.618@gmail.com
				li.contacts__item
					span.contacts__icon <i class="fa fa-phone" aria-hidden="true"></i>
					a(href="tel:+79999999999") +7 999 999 99 99
				li.contacts__item
					span.contacts__icon <i class="fa fa-map-marker" aria-hidden="true"></i>
					| г. Краснодар
	include footer.pug
