extends ../_template

block variables
	- var title = 'About page'

block content
	header.header
		.header__social
			+social
		.header__burger
			button.burger-btn
				span.burger-btn__line

		.avatar-wrapper
			.author-photo
				img(src="assets/img/avatar200.jpg").author-photo__img
			.section-headline1.section-headline1_white
				.section-headline__inner1.section-headline__inner1_white Блог
					span
			.author-descr.author-descr_white Статьи, которые я написал
		
		.header__triangle-wrapper
			.header__triangle.header__triangle_left.header__triangle_white
				svg(xlmns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1 1" preserveAspectRatio="none")
					polygon(points="0,0 1,1 0,1")
			.header__triangle.header__triangle_right.header__triangle_white
				svg(xlmns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1 1" preserveAspectRatio="none")
					polygon(points="1,0 1,1 0,1")

		.header__arrow-down
			a.header__arrow-down-link(href="#")
				.arrow-down

	.blog
		aside.blog__nav
			ul.blog__nav-list
				li.blog__nav-item
					a.blog__nav-link(href="#") Самое важное в Sass
				li.blog__nav-item
					a.blog__nav-link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
				li.blog__nav-item
					a.blog__nav-link(href="#") Самый необходимый набор Gulp плагинов
				li.blog__nav-item
					a.blog__nav-link(href="#") Почему я выбрал Jade
		section.blog__articles
			article.article
				h2.headline2 Самое важное в Sass
				time.article__time 22 ноября 2016
				p.text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				p.text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				img(src="assets/img/media/code_1.png")
			article.article
				h2.headline2 Приёмы в вёрстке, без которых не обходится ни один сайт
				time.article__time 13 ноября 2016
				p.text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				p.text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


	include footer.pug