footer.footer
		.footer__top
			ul.footer__menu-list
				li.footer__menu-item
					a(href="#").footer__menu-link Мои работы
				li.footer__menu-item
					a(href="#").footer__menu-link Обо мне
				li.footer__menu-item
					a(href="#").footer__menu-link Блог
				li.footer__menu-item
					a(href="#").footer__menu-link Авторизация
			ul.social.social_footer
				li.social__item
					a(href="https://vk.com/temir.nurbaev" target="_blank").social__link <i class="fa fa-vk" aria-hidden="true"></i>
				li.social__item
					a(href="https://github.com/TemirNurbaev" target="_blank").social__link <i class="fa fa-github-alt" aria-hidden="true"></i>
				li.social__item
					a(href="https://ru.linkedin.com/in/nurbaev" target="_blank").social__link <i class="fa fa-linkedin" aria-hidden="true"></i>
		.footer__bottom
			.footer__descr Я веб-разработчик из Краснодара, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
			.footer__copyright &#169; Темир Нурбаев | Создано с любовью в LoftSchool | 2016